@model JournalInfo.Models.JournalData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JournalData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyData)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.BodyData)*@
            @Html.Raw(Model.BodyData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
